{% extends "base.html" %}

{% block tittle %}BlogIt :: Termos de Uso{% endblock %}


{% block content %}
<div class="col-12">
    <h1 class="display-6">Termos de Uso</h1>
    <hr>
    <h4>1. Aceitação dos Termos de Uso</h4>
    <p> Ao se cadastrar no nosso blog de tecnologia, você aceita e concorda em seguir estes Termos de Uso. Se
        você não concordar com qualquer parte destes termos, por favor, não se cadastre ou use este blog. </p>

    <h4>2. Cadastro e Aprovação</h4>
    <p> Todos os usuários interessados em publicar artigos no blog devem primeiro se cadastrar. O cadastro, no
        entanto, não garante o direito automático de publicação. Após o cadastro, o perfil do usuário passará
        por uma avaliação, e apenas após aprovação o usuário poderá submeter artigos para avaliação e possível
        publicação. </p>

    <h4>3. Moderação e Publicação</h4>
    <p> O blog conta com uma equipe de moderadores, selecionados por administradores, que são responsáveis pela
        revisão e aprovação de artigos submetidos. A decisão dos moderadores é final e incontestável. Se um
        artigo for rejeitado, o autor será notificado com o motivo da rejeição. </p>

    <h4>4. Direitos e Responsabilidades dos Autores</h4>
    <p> Os autores mantêm todos os direitos autorais sobre os artigos que escrevem. No entanto, ao submeter um
        artigo para publicação, os autores concedem ao blog uma licença não exclusiva, perpétua e gratuita para
        publicar, reproduzir e distribuir o artigo em qualquer meio ou formato. </p>

    <p> Os autores são inteiramente responsáveis pelo conteúdo de seus artigos, incluindo a precisão das
        informações e a originalidade do conteúdo. O blog não se responsabiliza por qualquer informação
        inverídica ou plágio por parte dos autores. </p>

    <h4>5. Não Remuneração</h4>
    <p> A publicação de artigos no blog é voluntária, e os autores não receberão qualquer forma de remuneração
        ou compensação por seus artigos publicados. </p>

    <h4>6. Mudanças nos Termos de Uso</h4>
    <p> Estes Termos de Uso podem ser atualizados ou alterados periodicamente. Recomendamos que os usuários
        revisitem esta página regularmente para se manterem informados sobre quaisquer alterações. Ao continuar
        a usar o blog após essas alterações, você indica sua aceitação dos novos Termos de Uso. </p>

    <h4>7. Contato</h4>
    <p> Se você tiver alguma dúvida ou preocupação sobre estes Termos de Uso, por favor, entre em contato
        conosco através do <a href="/contato">formulário de contato</a>.</p>

    <p> Agradecemos por ser parte de nossa comunidade e esperamos que você aproveite e contribua positivamente
        para o nosso blog de tecnologia. </p>
</div>
{% endblock %}